/* Add CSS Styling */
button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman' sans-serif;
}

.fir_bttn {
    background-color: black;
    color: white;
}

.sec_bttn {
    background-color: yellow;
}