body {
  background: #eee;
  font-family: sans-serif;
}

/*Div is a tag so its just the name without "." (class) or "#" (id) */
div {
  padding: 12px;
  margin: 8px auto;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 16px;
  margin: 8px auto;
}